formula1/formula1.sln
formula1/bin/Debug/net8.0/formula1.dll
formula1/bin/Debug/net8.0/formula1.exe
formula1/bin/Debug/net8.0/formula1.pdb
formula1/obj/formula1.csproj.nuget.dgspec.json
formula1/obj/formula1.csproj.nuget.g.props
formula1/obj/project.assets.json
formula1/obj/project.nuget.cache
formula1/obj/Debug/net8.0/apphost.exe
formula1/obj/Debug/net8.0/formula1.AssemblyInfo.cs
formula1/obj/Debug/net8.0/formula1.AssemblyInfoInputs.cache
formula1/obj/Debug/net8.0/formula1.assets.cache
formula1/obj/Debug/net8.0/formula1.csproj.CoreCompileInputs.cache
formula1/obj/Debug/net8.0/formula1.csproj.FileListAbsolute.txt
formula1/obj/Debug/net8.0/formula1.dll
formula1/obj/Debug/net8.0/formula1.GeneratedMSBuildEditorConfig.editorconfig
formula1/obj/Debug/net8.0/formula1.genruntimeconfig.cache
formula1/obj/Debug/net8.0/formula1.pdb
formula1/obj/Debug/net8.0/formula1.sourcelink.json
formula1/obj/Debug/net8.0/ref/formula1.dll
formula1/obj/Debug/net8.0/refint/formula1.dll
